#select_product ul{
    padding:0;
    float: left;
}
#select_product li{
    border: 1px solid #BCE8F1;
    padding: 0 8px;
    border-radius: 5px;
    list-style-type: none;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #31708F;
    float: left;
    margin-right: 15px;
    background-color: #D9EDF7;
    margin-bottom: 5px;
}
#select_product li i{
    margin-left: 5px;
    font-size: 16px;
    color: #CC3300;
    cursor: pointer;
}