<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plane.mapper.ExerciseMapper">


    <insert id="addExercise">
      insert into t_book(shu,student_id)
      value(#{shu},#{student_id})
    </insert>

    <delete id="deleteExercise">
        delete from t_book where id=#{id}
    </delete>


</mapper>